    a {
  color: #fff!important;
  transition: 0.5s;
}
    #header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    color: #fff!important;
    text-transform: inherit!important;
}
#intro {
    width: 100%;
    height: 60vh!important;

    background-size: cover;
    overflow: hidden;
    position: relative;
}
#intro h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 47px!important;
    font-weight: 600;
    text-transform: uppercase;
}

.card-header {
    padding: .75rem 1.25rem;
    font-family: "Raleway", sans-serif;
    font-size: 16px!important;
    margin-bottom: 0;
    background-color: rgb(8, 127, 97);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
#intro h1 span {
    color: #15ab37!important;
}

#intro .about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #26a142!important;
}
#intro .about-btn:hover {
  background: #26a142!important;
  color: #fff;
}
.nav-menu li.buy-tickets a {
  color: #fff;
  background:#26a142!important;;
  padding: 7px 22px;
  border-radius: 50px;
  border: 2px solid #f82249;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 2px;
  line-height: 1;
  font-size: 13px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #26a142!important;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

#header.header-scrolled, #header.header-fixed {
    background:#087F61!important;
    height: 70px;
    color: black;
    padding: 15px 0;
    transition: all 0.5s;
}
#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    border-bottom: 2px solid #26a142!important;
}
#footer .footer-top .footer-links ul i {
    padding-right: 5px;
    color: #26a142;
    font-size: 18px!important;
}
.section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #26a142!important;
    bottom: 0;
    left: calc(50% - 25px);
}
.back-to-top:hover {
    background: #26a142;
    color: #fff;
}
.back-to-top {
    background: #26a142;
    color: #fff;
}
